{% extends "base.html" %}

{% block title %}
    Конструктор поединков
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
{% endblock %}



{% block content %}
    <div class="container" style="margin-top: 10px">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{url_for('competitions')}}">Список соревнований</a></li>
                        <li class="breadcrumb-item"><a href="{{url_for('competition_view', competition_id = competition_data.competition_id)}}">{{ competition_data.competition_name }}</a></li>
                        <li class="breadcrumb-item"><a href="{{url_for('fight_constructor', comp_id = competition_data.competition_id)}}">Конструктор боев. Шаг 1</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Конструктор боев. Шаг 2</li>
                      </ol>
                </nav>
                <h3>{{ competition_data.competition_name }}</h3>
                <h6>Весовая категория: {{ weight_category_data.weight_category_name }} </h6>
                <h6>Возрастная категория: {{ age_category_data.age_category_name }} </h6>
                <h6>Раунд: {{ round_data.round_name }} </h6>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 shadow p-3 mb-5 bg-white rounded">
                <h5>Участники</h5>
                <form method="POST" action="{{ url_for('constractor_fighters_are_selected', comp_id = competition_data.competition_id, weight_cat_id = weight_category_data.weight_cat_id, age_cat_id = age_category_data.id, round_no = round_data.id)}}">
                    {% for reg_id, parameters in fighters_in_left_column.items() %} <!-- итерируемся по словарю с id регистраций и данными по каждой из них-->
                        {% if parameters['finished_in_round'] > 0 %}
                            <div class="form-check">
                              <input disabled id="checkregistration" name = "fighters_from_regs" class="form-check-input" type="checkbox" value={{ reg_id }}>
                              <label class="form-check-label" for="checkregistration">
                                  {{ parameters['name'] }} {{ parameters['last_name'] }}
                              </label>
                                <small>Вылетел в раунде "{{ parameters['finished_round_name'] }}"</small>
                            </div>

                        {% elif parameters['fight_is_exist'] %}
                            <div class="form-check">
                              <input disabled id="checkregistration" name = "fighters_from_regs" class="form-check-input" type="checkbox" value={{ reg_id }}>
                              <label class="form-check-label" for="checkregistration">
                                  {{ parameters['name'] }} {{ parameters['last_name'] }}
                              </label>
                            </div>
                        {% else %}
                            <div class="form-check">
                              <input id="checkregistration" name = "fighters_from_regs" class="form-check-input" type="checkbox" value={{ reg_id }}>
                              <label class="form-check-label" for="checkregistration">
                                  {{ parameters['name'] }} {{ parameters['last_name'] }}
                              </label>
                            </div>
                        {% endif %}


                    {% endfor %}

                    <hr/>
                    <button type="submit" id="create_fight_button" class="btn btn-primary">Создать бой</button>
                </form>
            </div>
            <div class="col-lg-6 shadow p-3 mb-5 bg-white rounded">
                <h5>Поединки</h5>
                {% for fight in fights_data%}
                    {% if fight.fight_status %}
                        <div class="shadow bg-white rounded" style="padding-bottom: 2px; margin-bottom: 10px;">
                            <ul>
                                <div class="d-flex justify-content-between" style="margin-right: 20px; margin-top: 0px; padding-top: 10px;">
                                    <h5>Бой №{{loop.index}}.</h5>
                                </div>
                                <li>{{fight.red_fighter.name}} {{fight.red_fighter.last_name}}</li>
                                <li>{{fight.blue_fighter.name}} {{fight.blue_fighter.last_name}}</li>
                                <b>Бой завершен. {{ fight.fight_result }} </b>

                            </ul>
                        </div>
                    {% else %}
                        <div class="shadow bg-white rounded">
                            <ul>
                                <div class="d-flex justify-content-between" style="margin-right: 20px; margin-top: 0px; padding-top: 10px;">
                                    <h5>Бой №{{loop.index}}.</h5>
                                    <a href="{{url_for('delete_fight', fight_id = fight.fight_id, comp_id = competition_data.competition_id, weight_cat_id = weight_category_data.weight_cat_id, age_cat_id = age_category_data.id, round_no = round_data.id)}}"><button type="button" class="btn btn-danger btn-sm">Удалить</button></a>

                                </div>
                                <li>{{fight.red_fighter.name}} {{fight.red_fighter.last_name}}</li>
                                <li>{{fight.blue_fighter.name}} {{fight.blue_fighter.last_name}}</li>
                                <br>
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        <!-- История поединков в предыдущих кругах-->
        <div class="row">
            <div class="col">
                <h3>История</h3>
                {% for round_name, fights_in_round in round_history.items() %}
                    <h4>{{ round_name }}</h4>

                    <table class="table table-sm">
                          <thead>
                            <tr>
                              <th scope="col">Красный</th>
                              <th scope="col">Синий</th>
                              <th scope="col">Результат</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for fight in fights_in_round %}
                            <tr>
                              <td>{{ fight['red_fighter_name'] }} {{ fight['red_fighter_last_name'] }}</td>
                              <td>{{ fight['blue_fighter_name'] }} {{ fight['blue_fighter_last_name'] }}</td>
                              <td>
                                  {% if fight['fight_result'] %}
                                    {{ fight['fight_result'] }}
                                  {% else %}
                                    Бой запланирован
                                  {% endif %}
                              </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                    {% endfor %}
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    // Если бой завершен

    //$("#create_fight_button").addClass('disabled');
    $("#create_fight_button").prop('disabled', true)

    //selected_fighters = []
    selected_fighters = {{ list_of_selected_fighters }}
    numberOfdisabled = selected_fighters.length
    console.log('numberOfdisabled: ' + numberOfdisabled)
    console.log(selected_fighters)
    $('input:checkbox').on('click', function(){
        var checkboxes = document.querySelectorAll('input[id="checkregistration"]');
        var numberOfChecked = $('input:checkbox:checked').length;

        var totalCheckboxes = $('input:checkbox').length;
        var numberNotChecked = totalCheckboxes - numberOfChecked;
        if (numberOfChecked >= 2) {
            // надо получить в переменную список значений из чек-боксов
            //var selected_fighters = [];
            $.each($('input:checkbox:checked'), function(){
                selected_fighters.push($(this).val());
            });
            console.log("selected_fighters list is: " + selected_fighters)
            // Дизейблим лишние чек-боксы и активируем кнопку
            //$("#create_fight_button").removeClass('disabled');
            $("#create_fight_button").prop('disabled', false)
            for(var i = 0; i < totalCheckboxes; i++){
                if (checkboxes[i].checked !== true) {
                  checkboxes[i].disabled = true;
                }
            }
        }
        else {
            //$("#create_fight_button").addClass('disabled')
            $("#create_fight_button").prop('disabled', true)
            //for(var i = 0; i < totalCheckboxes; i++){
            //    checkboxes[i].disabled = false;
            //}
        }
    }) // конец обработчика клика на чек-бокс



})
</script>


{% endblock %}